
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <b><%= current_user.username %>:</b>
  </p>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Comment', :class => 'button'  %>
  </p>
<% end %>