/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: Helvetica;
}

.menu {
	margin-top: 20px;
	margin-left: -35px;
	text-align: center;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

.button {
    background-color: #ccc;
    color: white;
    padding: 14px 35px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border: 2px solid #fff;
    hover: black;
    border-radious: 2px;
}

.button:hover {
	 background-color: #fff;
	 border: 2px solid #000;
	 color: black;
};

