// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors input {
	border-color: red;
}

.field_with_errors textarea {
	border-color: red;
}

.table_article {
    margin-bottom: 10px;
}

.body {
    margin-left: 25px;
}
